* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 160px 1fr;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    color: white;
}

nav {
    background-color: #6366f1;
    grid-column: 1;
    grid-row: 1 / 3;
    color: white;
    padding: 24px;
    font-weight: 700;
}

nav p {
    font-size: 1.3rem;
}

nav h2 {
    font-size: 1.6rem;
}

nav > div {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.nav-header {
    margin-bottom: 48px;
}

.nav-item6 {
    margin-bottom: 64px;
}

nav img {
    justify-self: center;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(27deg) brightness(117%) contrast(101%);
}

header {
    grid-column: 2;
    grid-row: 1;
    padding: 8px 64px 8px 64px;
    font-weight: 700;
}

main {
    grid-column: 2;
    grid-row: 2;
    background-color: #eef2ff;
    padding: 32px;
}

header .upper {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    font-size: 1.2rem;
}

.search-bar {
    display: flex;
    gap: 24px;
    flex: 1;
    align-items: center;
}

.user-options {
    display: flex;
    gap: 32px;
    align-items: center;
}

input[type="search"] {
    flex: 1;
    height: 28px;
    margin-right: 96px;
    border-radius: 14px;
    border: none;
    padding: 4px 8px;
    max-width: 700px;
    background-color: #eef2ff;
    font-size: 1rem;
}

input[type="search"]:focus {
    outline: 1px outset #6365f19a;
}

header .lower {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.current-user {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: 2fr 3fr;
    gap: 8px;
}

.current-user img {
    grid-column: 1;
    grid-row: 1 / -1;
}

.current-user p:nth-child(2) {
    align-self: flex-end;
    grid-column: 2;
    grid-row: 1;
}

.current-user p:nth-child(3) {
    grid-column: 2;
    grid-row: -2;
    font-size: 1.4rem;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.options button {
    padding: 12px 0;
    width: 112px;
    font-size: 1rem;
    border-radius: 32px;
    border: none;
    background-color: #6366f1;
    color: white;
    font-weight: 700;
}

button:active {
    position: relative;
    left: 1px;
    top: 1px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
}

.projects {
    grid-column: 1;
    grid-row: 1 / -1;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.trending {
    grid-column: 2;
    grid-row: -2;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 12px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

h5 {
    font-size: 0.9rem;
    padding: 0 8px;
}

.card p {
    color: #505050;
    font-size: 0.9rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    height: 92%;
}

.card {
    min-height: 160px;
    padding: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-left: 8px solid #22c55e;
}

.projects .card {
    display: flex;
    flex-direction: column;
}

.projects .card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

hr {
    margin: 16px 0;
}

.ann-container p {
    font-size: 0.8rem;
    padding: 0 8px;
    color: #505050;
}

.ann-container,
.tr-container {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.trend {
    margin-bottom: 16px;
    display: flex;
}

.tr-text {
    font-size: 0.9rem;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trend p:last-child {
    color: #505050;
}

.trend:last-child {
    margin-bottom: 0;
}

.trending img,
header img {
    border-radius: 100%;
}